<%= form_with(model: hybrid) do |form| %>
  <% if hybrid.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(hybrid.errors.count, "error") %> prohibited this hybrid from being saved:</h2>

      <ul>
        <% hybrid.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :color, style: "display: block" %>
    <%= form.text_field :color %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
